*{
    
    box-sizing: border-box;
    
}

body{
    margin-top: 50px;
    padding: 0 35px;
    
    justify-content: center;
    min-height: 100vh;
    background: #343f4f;
   margin-bottom: 100px;
   text-align: center;
}

.navbar{
    margin-bottom: 50px;
}

.wrapper{
    max-width: 1200px;
    position: relative;
    display:inline;
    position: 100px;
}

.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-bottom: 75px;
}

.wrapper i:first-child{
    left: -23px;
    display: none;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden; /*taşan kısmı saklıyoruz scroll çıkmıyor */
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.carousel img{
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.carousel img:first-child{
    margin-left: 0px;
}


@media screen and (max-width: 1000px) {
    .carousel img {
        width: calc(100% / 2);
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
       
    }

    
}

@media screen and (max-width: 360px) {
    .carousel img {
        width: 100%;
       height: 270px;
    }

    
}

.yazi-alani{
    margin-top: 50px;
    text-align: center; 
}

.mutfak-yazi-bolumu{
   
  
  
    background-color: #dfdfdf;
   font-size: 1.5rem;
    border-radius: 5%;
    font-family: 'Raleway', sans-serif;
}

.mutfak-yazi{
   
}
.mutfak-icon{
  
}
